<div class="contact">
    <div class="page-title">
        <h2>Информация о контакте</h2>
        <hr>
    </div>

    <div class="contact-information">
        <div class="box" id="snp-box">
            <h3>ФИО</h3>
            <hr>

            <label id="label-surname">Введите корректную фамилию</label>
            <input type="hidden" class="form-control" name="id" id="id" ng-model="employee.id"/>

            <div class="input-group" id="div-surname">
                <span class="input-group-addon">Фамилия </span>
                <input type="text" class="form-control" name="s_name" id="s_name" ng-model="employee.s_name"/>
            </div>

            <label id="label-name">Введите корректное имя</label>

            <div class="input-group" id="div-name">
                <span class="input-group-addon">Имя</span>
                <input type="text" class="form-control" id="f_name" name="f_name" ng-model="employee.f_name"/>
            </div>

        </div>

        <div class="box" id="dob&email">
            <h3>Дата рождения</h3>
            <hr>

            <div class="input-group">
                <span class="input-group-addon">Дата рождения</span>
                <input type="date" class="form-control" name="date-of-birth" id="date-of-birth"
                       ng-model="employee.dateOfBirth"/>
            </div>

            <div class="input-group" id="div-sex">
                <span class="input-group-addon">Пол</span>
                <select class="form-control" name="sex" id="sex" data-ng-model="sex.id"
                        ng-options="s.id as s.value for p in positions">
                </select>
            </div>
        </div>

        <div class="box" id="address">
            <h3>Адрес</h3>
            <hr>



            <div class="input-group" id="div-country">
                <span class="input-group-addon">Страна</span>
                <select class="form-control" name="country" id="country" data-ng-model="country.id"
                        ng-options="c.id as c.country for c in countries">
                </select>
            </div>

            <label id="label-city">Введите корректный город</label>
            <div class="input-group" id="div-city">
                <span class="input-group-addon">Город</span>
                <input type="text" class="form-control" name="city" id="city" ng-model="employee.city"/>
            </div>

            <label id="label-street">Введите корректную улицу</label>

            <div class="input-group" id="div-street">
                <span class="input-group-addon">Улица</span>
                <input type="text" class="form-control" name="street" id="street" ng-model="employee.street">
            </div>

            <label id="label-home">Введите корректный номер дома</label>

            <div class="input-group" id="div-home">
                <span class="input-group-addon">Дом</span>
                <input type="text" class="form-control" name="house" id="house" ng-model="employee.house">
            </div>

            <label id="label-flat">Введите корректный номер квартиры</label>

            <div class="input-group" id="div-flat">
                <span class="input-group-addon">Квартира</span>
                <input type="text" class="form-control" name="flat" id="flat" ng-model="employee.flat">
            </div>
        </div>

        <!--<label id="label-contact">Выберите отдел</label>-->
        <div class="input-group" id="div-department">
            <span class="input-group-addon">Отдел</span>
            <select class="form-control" name="department" id="department" data-ng-model="department.id"
                    ng-options="d.id as d.department for d in departments">
            </select>
        </div>

        <div class="input-group" id="div-department-address">
            <span class="input-group-addon">Адрес офиса</span>
            <select class="form-control" name="department_address" id="department_address" data-ng-model="address.id"
                    ng-options="a.id as a.fullAddress for a in addresses">
            </select>
        </div>

        <div class="input-group" id="div-position">
            <span class="input-group-addon">Должность</span>
            <select class="form-control" name="position" id="position" data-ng-model="position.id"
                    ng-options="p.id as p.position for p in positions">
            </select>
        </div>

        <div class="button-save-div">
            <button type="button" class="btn btn-primary" ng-click="save.doClick()"> Сохранить</button>
        </div>


    </div>
</div>

